<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="{{ url_for('static', filename = '/js/berry.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="flex flex-wrap justify-center content-center min-h-screen bg-gradient-to-tr from-white to-red-300 font-mono flex-none">
        <section class="flex flex-col bg-white w-4/5 min-h-screen max-h-screen rounded-3xl z-30 backdrop-blur-sm flex-none flex-grow-0">

            <div class="flex gap-3 h-1/2 p-5">
                <div id='berry-container' class="flex flex-col gap-5 basis-1/2 p-5 ">
                </div>
                <div class="flex basis-1/2 p-5">
                    <form action="/create-berry-review" method="post">
                        <input type="hidden" value="{{trainer.id}}" name="trainer_id">
                        <input type="hidden" value="{{id}}" id="berry_id" name="berry_api_id">
                        <input type="hidden" value="{{name}}" id="berry_name" name="berry_name">
                        <label>
                            <span class="block">
                                Write Review:
                            </span>
                            <textarea name="review_post" id="" cols="30" rows="10" class="border-2">
                            </textarea>
                        </label>
                        <input type="submit" value="Create Review" class="p-1 border-2 border-red-300 bg-red-500 rounded-xl hover:bg-red-300 hover:-translate-y-3">
                    </form>
                    <a href="/dashboard" class="text-2xl font-semibold underline">Home</a>
                </div>
            </div>
            
            <div class="flex flex-col gap-5 w-full p-5 h-1/2 overflow-y-scroll overflow-hidden">
                <h2 class="text-3xl font-semibold p-5 underline">Reviews</h2>
                {% for review in reviews%}
                    {% if trainer.id == review.trainer_id %} 
                        <div class="p-5 border-b-2 border-slate-300 flex justify-between">
                            <p>{{review.review_post}}</p>
                            <div class="flex gap-10">
                                <a href="/edit-review/{{review.id}}" class="p-1 bg-gradient-to-t from-green-100 via-green-200 to-green-400 text-black rounded-lg">Edit</a>
                                <a href="/delete/{{review.id}}" class="p-1 bg-gradient-to-b from-red-100 via-red-200 to-red-400 text-black rounded-lg">Delete</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="p-5 border-b-2 border-slate-300">
                            <p>{{review.review_post}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
        </section>
    </main>

</body>

</html>